.section {
    background: url('/aboutbanner.png');
    position: relative;
    padding-top: 140px;
    padding-bottom: 180px;
    background-size: cover;
    background-position: center;

    @media (max-width:768px) {
        padding: 26px;
        padding-bottom: 98px;
        padding-top: 60px;
    }


    .rounded1 {
        width: 22px;
        height: 22px;
        border-radius: 30px;
        backdrop-filter: blur(4px);
        background: #D65717;
    }

    .rounded2 {
        width: 22px;
        height: 22px;
        border-radius: 30px;
        backdrop-filter: blur(4px);
        background: #2BAAE2;
    }

    .layer1 {
        position: absolute;
        top: 61px;
        left: 68px;

        @media (max-width:768px) { 
            display: none;
           
        }
    }

    .layer2 {
        position: absolute;
        bottom: 152px;
        right: 64px;

        @media (max-width:768px) {
            position: absolute;
            top: 28px;
            right: 24px;
        }
    }

    .layer3 {
        position: absolute;
        top: 138px;
        right: 171px;

        @media (max-width:768px) {
            display: none;
        }
    }

    .layer4 {
        position: absolute;
        bottom: 184px;
        left: 578px;

        @media (max-width:768px) {
        display: none;
        }

    }
    .container {
        position: relative;
        .row {
            position: relative;
            .heading2 {
                max-width: 900px;
                margin-left: auto;
                margin-right: auto;
                position: relative;
                @media (max-width:768px) {
                    gap:4px;
                    
                }
                .layeer1 {
                    position: absolute;
                    top: -160px;
                    left: -60px;
                    width: 280px;
                    height: auto;
                    object-fit: cover;
                    @media (max-width:768px) {
                        top: -60px;
                        left: 0px;
                        width: 81px; 
                        
                    }
                }
                .missing {
                    opacity: 0.5;
                    &:hover {
                        opacity: 1;
                        cursor: pointer;
                    }
                }
                display: flex;
                flex-direction: column;
                gap: 12px;

                h4 {
                    font-family: "Segoe UI bold";
                    position: relative;
                    font-weight: 700;
                    font-size: 48px;
                    line-height: 58px;
                    letter-spacing: 0%;
                    text-align: center;
                    vertical-align: bottom;
                    text-transform: uppercase;
                    color: #fff;
                    @media (max-width:768px) {
                        font-size: 36px;
                        line-height: 1.4;
                    }

                    span {
                        position: relative;

                        img {
                            position: absolute;
                            left: 10px;
                            top: 0px;
                            width: 53px;
                            height: 53px;

                            @media (max-width:768px) {
                                position: absolute;
                            }
                        }
                    }
                }

                h3 {
                    font-family: "Segoe UI bold";
                    font-weight: 700;
                    font-size: 52px;
                    line-height: 58px;
                    letter-spacing: 0%;
                    text-align: center;
                    vertical-align: bottom;
                    text-transform: uppercase;
                    color: #fff;

                    @media (max-width:768px) {
                        font-size: 38px;
                        line-height: 1.3;
                    }
                }
            }

            .perstyle {
                margin-top: 40px;
                display: flex
;
    flex-direction: column;
    gap: 10px;
                @media (max-width:768px) {
                    margin-top: 24px;
                }

                p {
                    font-family: "Segoe UI Regular";
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 34px;
                    letter-spacing: 0%;
                    text-align: center;
                    vertical-align: bottom;
                    max-width: 872px;
                    margin-left: auto;
                    margin-right: auto;
                    color: #fff;
                    .sdfsd {
                        display: none;
                      }
                    @media (max-width:768px) {
                        font-size: 18px;
                        line-height: 1.4em;
                        .sdfsd {
                            display: block;
                          }
                        br {
                            margin-bottom: 20px;
                        }

                    }
             


                }
            }

            .midheight {
                margin-top: 40px;
                h3 {
                    font-family: "Segoe UI bold";
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 28px;
                    letter-spacing: 0%;
                    text-align: center;
                    vertical-align: bottom;
                    color: #fff;
                    span {
                        color: #2BAAE2;
                    }
                    @media (max-width:768px) {

                        position: relative;
                        line-height: 40px;
                     }



                }
            }
            .btn {
                margin-top: 40px;

                span {
                    padding: 15px 18px;
                    background-color: #fff;
                    color: #000;
                    border-radius: 10px;
                    margin-top: 40px;
                    cursor: pointer;
                    text-decoration: none;
                    width: fit-content;
                    font-family: Segoe UI Regular;
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                    border: 1px solid #2baae2;
                    text-transform: uppercase;
                    &:hover {
                        background: linear-gradient(to right, #e0f2ff, #d1dae5);
                        color: #181818;
                        align-items: center;
                        padding: 15px 18px;
                        box-shadow: inset 0 0 0 4px #fffc;
                    }
                }
            }
        }
    }
}


.popupOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  