.section {
   padding-top: 96px;
   padding-bottom: 96px;
   position: relative;
   @media (max-width:768px) {
    padding-top: 60px;
    padding-bottom: 60px;
    }
   .layeer {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    @media (max-width:768px) {
        max-width: 100%;
        width: 100%;
        img {
            width: 100%;
            height: auto;
        }
        }
   }
   .container {
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
.row {
    position: relative;
    display: flex;
    justify-content: space-between;
    @media (max-width:768px) {
     flex-direction: column;
        }
    .contentbox {
        position: relative;
        h2 {
            font-family: "Segoe UI bold";
font-weight: 700;
font-size: 56px;
line-height: 56px;
letter-spacing: 0%;
vertical-align: bottom;
color: rgba(37, 62, 144, 1);
@media (max-width:768px) {
    font-size: 32px;
line-height: 40px;
text-align: center;
       }

        }
        h3 {
            font-family: "Segoe UI bold";
            font-weight: 700;
            font-size: 32px;
            line-height: 32px;
            letter-spacing: 0%;
            vertical-align: bottom;
            color: rgba(24, 24, 24, 1);
            margin-top: 20px;
            margin-bottom: 24px;
            @media (max-width:768px) {
                font-size: 24px;
            line-height: 32px;
            margin: 0px;
            text-align: center;
                   }
            
        }
p {
    font-family:"Segoe UI Regular";
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    vertical-align: bottom;
    color: rgba(24, 24, 24, 1);
    margin-bottom: 24px;
    @media (max-width:768px) {
        font-size: 16px;
    line-height: 24px;
   max-width: 238px;
   margin-left: auto;
   margin-right: auto;
    text-align: center;
    margin-top: 12px;
           }
}
 a {
    background: #253e90;
    font-family: "Segoe UI Regular";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    border-radius: 12px;
    display: block;
    width: fit-content;
    color: #fff;
    text-decoration: none;
    position: relative;
    z-index: 9;
    text-transform: uppercase;
    @media (max-width:768px) {
        margin-left: auto;
        margin-right: auto;
     }
    &:hover{
        background: linear-gradient(to right, #253e90, #2baae2);
    }
 }
    }
    .imagebox {
        position: relative;
        @media (max-width:768px) {
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
            img {
                width: 174px;
                height: auto;
            }
         }
    }
}

   }
}