.section {
    padding-top: 60px;
    padding-bottom: 96px;
    background: #fff;
    @media (max-width:768px) {
        padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 60px;
    }


.container2 {
    box-shadow: 0px 0px 23.9px 0px #2F373A4D;
    background: #fff;
    max-width: 1087px;
 width: 100%;
 margin-left: auto;
 margin-right: auto;
gap: 20px;
padding-top: 40px;
padding-right: 60px;
padding-left: 60px;
border-radius: 24px;
padding-bottom: 44px;
position: relative;
top: -64px;
@media (max-width:768px) {
   box-sizing: border-box;
   padding-left: 22px;
   padding-right: 22px;
   top: -40px;
    }
 

.content2 {
    display: flex;
    flex-direction: column;
    max-width: 844px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
    h2 {
font-family: "Segoe UI bold";
font-weight: 700;
font-size: 48px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
color: #181818;
margin-bottom: 12px;
@media (max-width:768px) {
font-size: 24px;
line-height: 100%;  
    }

    }
    h4 {
font-family: "Segoe UI bold";
font-weight: 700;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
vertical-align: bottom;
color: #2BAAE2;
margin-bottom: 12px;
@media (max-width:768px) {
 
font-weight: 500;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
 
    }

    }
    p {
font-family: "Segoe UI regular";
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
vertical-align: bottom;
color: #181818;
line-height: 1.4;

    }
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    @media (max-width:768px) {
  width: 100%;
  height: auto;
    }
}

}


    .container {
max-width: 1200px;
width: 100%;
margin-left: auto;
margin-right: auto;

.boxstyle {
    display: flex;
    flex-direction: column;
    gap: 40px;
@media (max-width:768px) {
          gap: 20px;
    }

    h2 {
        font-family: "Segoe UI bold";
font-weight: 700;
font-size: 56px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
vertical-align: bottom;

margin-bottom: 60px;
color: #181818;
span {
color: #253E90;
}
@media (max-width:768px) {
        margin-bottom: 10px;
font-size: 24px;
line-height: 32px;
letter-spacing: 0%;
text-align: center;
vertical-align: bottom;

    }
    }
    .heading {
        display: flex;
        flex-direction: column;
        gap: 12px;
        h3 {
font-family: "Segoe UI bold";
font-weight: 700;
font-size: 40px;
line-height: 56px;
letter-spacing: 0%;
text-align: center;
vertical-align: bottom;
color: #181818;
@media (max-width:768px) { 
font-size: 20px;
line-height: 1.4;
letter-spacing: 0%;
text-align: center;
vertical-align: bottom;
    }
        }
        h4 {
font-family: "Segoe UI bold";
font-weight: 700;
font-size: 24px;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
vertical-align: bottom;
color: #181818;
@media (max-width:768px) { 
font-size: 20px;
line-height: 1.4;
letter-spacing: 0%;
text-align: center;
vertical-align: bottom;
    }
        }
    }




    .modulebox {
        display: flex;
        flex-direction: column;
        gap: 60px;
        @media (max-width:768px) { 
gap: 20px;
    }
    }
}
    }
}



 
.cardbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 924px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
    border-bottom: 2px solid #253E90;
width: 100%;
 @media (max-width:768px) { 
padding-bottom: 20px;
flex-direction: column;
text-align: center;
    }
    .conatnt {
        max-width: 640px;
width: 100%;
        h4 {
font-family: "Segoe UI bold";
font-weight: 700;
font-size: 48px;
line-height: 56px;
letter-spacing: 0%;
vertical-align: bottom;
color: #253E90;
margin-bottom: 24px;
 @media (max-width:768px) { 
font-size: 25px;
line-height: 30px;
margin-bottom: 16px;
    }
        }
        p {
font-family: "Segoe UI regular";
font-weight: 400;
font-size: 24px;
line-height: 32px;
letter-spacing: 0%;
vertical-align: bottom;
color: #181818;
 @media (max-width:768px) { 
font-size: 20px;
line-height: 25px;
margin-bottom: 16px;
    }
        }
    }
    .image {
        img {

        }
    }
    &:last-child {
        border-bottom: 0px;
        padding-bottom: 0px;
    }
}