.section {
    position: relative;
    background: #EAF9FF;
    padding-top: 60px;
    padding-bottom: 60px;
    .container {
        position: relative;
        max-width: 1150px;
        margin: auto;
        .row {
            position: relative;
            display: flex;
            gap: 57px;
            align-items: center;
            .contentbox {
                gap: 24px;
                display: flex;
                flex-direction: column;
                width: 486px;
                position: relative;
                h2 {
                    position: relative;
                    font-family: 'Segoe UI Bold';
font-weight: 700;
font-size: 43px;
line-height: 56px;
letter-spacing: 0%; 
color: #253E90;


                    span {
                        position: relative;
                        color: #181818;
                    }
                }
                .desp {
                    h4 {
                        font-family: 'Segoe UI Bold';
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 32px;
                        letter-spacing: 0%;
                        vertical-align: bottom;
                        color: #181818;
                        margin-bottom: 20px;
                        @media (max-width:768px){ 
                            font-size: 20px;
                            line-height: 23px;
                            text-align: center;
                        }
                    }
                    p {
                        font-family: 'Segoe UI Regular';
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 32px;
                        letter-spacing: 0%;
                        vertical-align: bottom;
                        color: #181818;
                        @media (max-width:768px){ 
                            font-size: 16px;
                            line-height: 23px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .section {
        padding-top: 30px;
        padding-bottom: 30px;
        .container {
            max-width: 100%;
            padding: 0 15px;
            .row {
                flex-direction: column;
                gap: 30px;
                .contentbox {
                    width: 100%;
                    h2{
                        font-size: 26px;
                        line-height: 33px;                
                        padding: 0px;
                        text-align: center;
                    }
                }
                .frombox{
                    width: 100%;
                    display: flex;
        justify-content: center;
                    // padding: 0 15px !important; 
                }
            }
        }
    }
}