@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0px;
  margin: 0px;
  font-size: 100%;
}


@font-face {
  font-family: 'Segoe UI Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Regular'), url('/fonts/SegoeUI.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Segoe UI Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Italic'), url('/fonts/SegoeUIItalic.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Segoe UI Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Bold'), url('/fonts/SegoeUIBold.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Segoe UI Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Bold Italic'), url('/fonts/SegoeUIBoldItalic.woff') format('woff');
  }



  .bannerimage {
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }



  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    position: relative !important;
    top: 0px !important;
  }
.desktop-none{
  display: none;
}
  @media (max-width:768px){ 
  .mobile-none{
    display: none !important;
  }
}


.cookie-banner {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: #222;
  color: white;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  align-items: center;
  z-index: 999999999999;
}
.cookie-banner p {
  font-family: "Segoe UI Regular";
}

.cookie-banner button {
  background: #253e90;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}

.cookie-banner button:hover {
  background: linear-gradient(to right, #253e90, #2baae2);
}


