.section {
    background: url("/bg3.png");
padding-bottom: 60px;
background-size: cover;
    background-repeat: no-repeat;
.container {
    max-width: 1016px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(138.13deg, #253E90 8.32%, #0B122A 76.37%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding-top: 40px;
    padding-right: 59px;
    padding-bottom: 40px;
    padding-left: 59px;
    border-top-left-radius: 30px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 68px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    .phone {
        width: 111px;
        height: 111px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        background: #fff;
        box-shadow: 0px 0px 15px 0px #45BAED3D;
        position: absolute;
        top: -40px;
        right: -30px;
        img {
            line-height: 0px;
        }
    }
    
h2 {
    font-family:"Segoe UI Regular";
    font-weight: 700;
    font-size: 60px;
    line-height: 68px;
    letter-spacing: 0%;
    vertical-align: bottom;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    
}
p{
    font-family:"Raleway";
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    vertical-align: bottom;
    color: #fff;
    max-width: 851px;
}
a { 
    background: #fff;
    font-family: "Segoe UI Regular";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    border-radius: 12px; 
    display: block;
    width: fit-content;
    color: #181818;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        background: linear-gradient(to right, #e0f2ff, #d1dae5);
        color: #181818;
        padding-top: 12px;
        padding-right: 24px;
        padding-bottom: 12px;
        padding-left: 24px;
        box-shadow: inset 0 0 0 4px #fffc;
    }
}
}
}
