.section {
    background: url('/aboutbanner.png');
    position: relative;
    padding-top: 140px;
    padding-bottom: 144px;
    background-size:cover ;
    background-position: center;

    @media (max-width:768px) {
padding: 30px;
                                      }


.rounded1 {
    width: 22px;
height: 22px; 
border-radius: 30px; 
backdrop-filter: blur(4px);
background: #D65717;
}
.rounded2 {
width: 22px;
height: 22px; 
border-radius: 30px; 
backdrop-filter: blur(4px);
background: #2BAAE2;
}

.layer1 {
    position: absolute;
    top: 61px;
    left: 68px;
    @media (max-width:768px) {
                              
        position: absolute;
        top: 11px;
        left: 38px;
                                                       }
}
.layer2 {
    position: absolute;
    bottom: 64px;
    right: 70px;
    @media (max-width:768px) {
                              
        position: absolute;
        bottom: 14px;
        right: 20px;
                                                       }
}
.layer3 {
    position: absolute;
    top: 98px;
    right: 137px;
    @media (max-width:768px) {
                              
        position: absolute;
        top: 58px;
        right: 17px;
                                                       }
}
.layer4 {
    position: absolute;
    bottom: 76px;
    left: 127px;

    @media (max-width:768px) {
        position: absolute;
        bottom: 16px;
        left: 17px;
                                                       }
}



    .container {
        position: relative;

        .row {
            position: relative;
            .heading2 {
                max-width: 900px;
                margin-left: auto;
                margin-right: auto;
                position: relative;
                .layeer1 {
                    position: absolute;
                    top: 34px;
                    right: 30px;
                    object-fit: cover;
                }
                display: flex;
                flex-direction: column;
                gap: 34px;
                h4 {
                    font-family: "Segoe UI bold";
                    position: relative;
font-weight: 700;
font-size: 48px;
line-height: 58px;
letter-spacing: 0%;
text-align: center;
vertical-align: bottom;
text-transform: uppercase;
color: #fff;

@media (max-width:768px) {
 font-size: 28px;
 line-height: 34px;
                                          }
                    span {
                        position: relative;
                        img {
                            position: relative;
                            left: -5px;
                            top: 17px;
                            @media (max-width:768px) {
                              
                                width: 30px;
                                height: 30px;
                                top: 3px;
                                                                         }
                        }
                    }
                }
                h3 {
                    font-family: "Segoe UI bold";
                    font-weight: 700;
                    font-size: 52px;
                    line-height: 58px;
                    letter-spacing: 0%;
                    text-align: center;
                    vertical-align: bottom;
                    text-transform: uppercase;
                    color: #fff;
                    
                    
                }


                .name {
                    position: relative;
                    text-align: center;
                    img {
                        position: relative;
                        @media (max-width:768px) {
                              
                          max-width: 100%;
                          height: auto;
                          width: 100%;
                                                                     }
                    }
                }
            }
            .perstyle {
                margin-top: 40px;
                p {
                    font-family: "Segoe UI Regular";
font-weight: 400;
font-size: 24px;
line-height: 34px;
letter-spacing: 0%;
text-align: center;
vertical-align: bottom;
max-width: 872px; 
margin-left: auto;
margin-right: auto;
color: #fff;

@media (max-width:768px) {
                              
    font-size: 16px;
    line-height: 20px;
                                                   }

                }
            }

            .midheight {
                margin-top: 40px;
                h3 {
                    font-family: "Segoe UI bold";
font-weight: 700;
font-size: 28px;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
vertical-align: bottom;
color: #fff;
@media (max-width:768px) {
                              
    font-size: 20px;
    line-height: 30px;
                                                   }
span {
    color: #2BAAE2;
    text-transform: uppercase;
}

                }
            }
            .btn {
                margin-top: 40px;
                a {
                    padding: 15px 18px;
                    background-color: #fff;
                    color: #000;
                    border-radius: 10px;
                    margin-top: 40px;
                    cursor: pointer;
                    text-decoration: none;
                    width: fit-content;
                    font-family: Segoe UI Regular;
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                    &:hover{
                        background: linear-gradient(to right, #e0f2ff, #d1dae5);
                        color: #181818;
                    }
                }
            }
        }
    }
} 