.banner {
    background: url("/Frameww4273191862.png");
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: 100%;

    .container {
        max-width: 1248px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        .row {
            position: relative;
display: flex;
align-items: center;
            .textblock {
                position: relative;
                max-width: 541px;
                width: 100%;

                .innerterxt {
                    h2 {
                        font-family: "Segoe UI bold";
                        font-weight: 700;
                        font-size: 52px;
                        line-height: 62px;
                        letter-spacing: 0%;
                        vertical-align: bottom;
                        text-transform: uppercase;
                        color: #fff;
                        margin-bottom: 24px;

                        span {
                            color: #2BAAE2;
                        }

                    }

                    p {
                        font-family: "Segoe UI regular";

                        font-size: 24px;
                        line-height: 30px;
                        letter-spacing: 0%;
                        vertical-align: bottom;
                        color: #fff;

                        b {
                            position: relative;
                            display: block;
                            margin-bottom: 12px;
                        }
                    }
                }


                .btn {
                    padding: 15px 18px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    margin-top: 40px;
    cursor: pointer;
    text-decoration: none;
    width: fit-content;
    display: block;
font-family: "Segoe UI regular";
    &:hover {
    background: linear-gradient(to right, #e0f2ff, #d1dae5);
    color: #181818;
                }
                }
            }
        }

    }
}