.section {
    padding-top: 96px;
    padding-bottom: 96px;
    @media (max-width:768px) {
     padding: 30px;
          }
    .container {
        max-width: 1024px;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 60px;

 
h2 {
    font-family: Arial;
font-weight: 700;
font-size: 40px;
line-height: 62px;
letter-spacing: 0%;
text-align: center;
vertical-align: bottom;
text-transform: uppercase;
color: #3C3C3C;
margin-bottom: 20px;
@media (max-width:768px) {
    font-size: 28px;
    line-height: 34px;
        }
}
p{
    font-family:"Segoe UI Regular";
font-weight: 400;
font-size: 24px;
line-height: 32px;
letter-spacing: 0%;
text-align: center;
vertical-align: bottom;
@media (max-width:768px) {
    font-size: 16px;
    line-height: 24px;
        }

}
    }
}

.container2 {
    max-width: 1143px;
 margin-left: auto;
 margin-right: auto;

    .row {
display: flex;
gap: 24px;
align-items: end;
@media (max-width:768px) {
   flex-direction: column;
        }
.row1 {
    position: relative;
    display: flex;
    gap: 24px;
    @media (max-width:768px) {
        flex-direction: column;
        align-items: center;
        width: 100%;
             }
}
    }
}

.container3 {
    padding-top: 60px;
    position: relative;
    @media (max-width:768px) {
        padding-top: 20px;
    }
    a {
        position: relative;
        background: #253E90; 
padding-top: 12px;
padding-right: 24px;
padding-bottom: 12px;
padding-left: 24px;
border-radius: 12px;
display: flex;
width: fit-content;
align-items: center;
color: #fff;
text-decoration: none;
margin-left: auto;
margin-right: auto;
font-family:"Segoe UI Regular";
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
vertical-align: bottom;
text-transform: uppercase;
&:hover{
background: linear-gradient(to right, #253e90, #2baae2);
}
img {
    line-height: 0px;
}


    }
}



.bigcard {
    background: linear-gradient(50.51deg, #2BAAE2 10.46%, #253E90 84.75%);
    box-shadow: 0px 4px 4px 0px #00000040;
    width: 270px; 
    gap: 20px;
    padding: 12px;
    border-top-left-radius: 30px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 68px;
    padding-top: 101px;
    padding-bottom:31px;
    padding-left: 31px;
    padding-right: 24px;
    position: relative;
    
    .image {
        position: absolute;
        top: -38px;
        left: -28px;
        img {
            position: relative;
        }
    }
    .content {
        position: relative;
        display: flex;
        flex-direction: column;
            gap: 4px;
        .username {
            h3 {
                font-family: "Raleway";
font-weight: 700;
font-size: 18px;
line-height: 22px;
letter-spacing: 0%;
vertical-align: bottom;
text-transform: uppercase;
color: #FFFFFF;

            }
            h4 {
                font-family: "Raleway";
font-weight: 500;
font-size: 16px;
line-height: 22px;
letter-spacing: 0%;
vertical-align: bottom;
text-transform: uppercase;
color: #FFFFFF;

            }
        }
    }

    .desc {
        font-family: Raleway;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
        vertical-align: bottom;
        color: #FFFFFF;
        
    }

}


 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 

.smallcard {
    display: flex;
    gap: 13px;
    border: 0.91px solid #253E90;
    // width: 267px;
    max-width: 267px;
border-top-left-radius: 24px;
border-top-right-radius: 24px;
border-bottom-right-radius: 60px;
border-bottom-left-radius: 24px;
border-width: 0.91px;
padding-top:14px;
padding-bottom: 21px;
padding-left: 24px;
padding-right: 13px;

@media (max-width:768px) {
 
         }

    .image {
        width: 60px;
        height: 60px;
        border-radius: 100px;
        overflow: hidden;
        img {
width: 60px;
height: 60px;
border-radius: 100px;
overflow: hidden;
object-fit: cover;
        }
    }
    .content {
        position: relative;
        width: 156px;
        max-width: 156px;
        display: flex;
            flex-direction: column;
            gap: 7px;
        .teamname {
            display: flex;
            flex-direction: column;
            gap: 4px;
            h4 {
                 font-family: "Poppins", sans-serif;
                font-weight: 700;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #121212;

                
            }
            h5 {
                 font-family: "Poppins", sans-serif;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0%;
                color: #1E1E1E;
                
            }
        }
        p{
             font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0%;
            color: #121212;
            
        }
    }

}